html {
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Rajdhani', sans-serif;
}


header {
    background-color: rgb(164,219,219);
    height: 40px;
    color: white;
    font-family: monospace;
    font-size: x-large;
    font-weight: bold;
}

header a {
    color: white;
    float: right;
    padding: 10px;
}

.title {
    background: white;
    width: 100%;
    height: 600px;
    margin: 0;
    overflow: hidden;
}

#navhtml {
    left: 0%;
    width: 40%;
    text-align: center;
}

#navcss {
    left: 0%;
    width: 40%;
    text-align: center;
}

button {
    background-color:white;
    color:darkcyan;
    border: 3px solid darkcyan;
    border-radius: 40px;
    padding: 20px 30px;
    width: 200px;
}

button:hover {
    background-color: darkcyan;
    color:white;
}

.title h1 {
    position: absolute;
    text-align: right;
    width: 50%;
    display: inline-block;
    right: 0%;
    top: 5%;
}

main {
    background: rgb(164,219,219);
    background: radial-gradient(circle, rgba(164,219,219,1) 0%, rgba(255,255,255,1) 100%);    text-align: center;
}

table {
    border: 2px solid black;
    margin:auto;
    font-family: monospace;
    font-size: large;
    margin-bottom: 100px;
    width: auto;
}

table thead {
    background-color: darkcyan;
}

table tbody {
    background-color: rgb(164,219,219);
    
}

#tagcolor {
    color:blue
}

#attcolor {
    color:red;
}

#linkcolor {
    color:green;
}
