html {
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Rajdhani', sans-serif;
}


header {
    background-color: rgb(164,219,219);
    height: 40px;
    color: white;
    font-family: monospace;
    font-size: x-large;
    font-weight: bold;
}

header a {
    color: white;
    float: right;
    padding: 10px;
}

.titlebox {
    width: 1800px;
    height: 600px;
    margin: 0;
    overflow: hidden;
}

.titlebox #title {
    height: 600px;
    width: 900px;
    position: relative;
    display: inline;
    float: right;
}

.titlebox h1 {
    position: relative;
    margin: 16%;
    text-align: center;
    font-size: 60px;
}

.title h1 span{
   font-size: 100px;
}
/*BUTTONS-----------------------------------------*/

.navbuttons {
    width: 900px;
    height: 600px;
    display: inline-block;
    text-align: center;
    position: relative;
}

#navhtml {
    height: 300px;
    width: 450px;
    text-align: center;
    display: inline-block;
    font-size: 30px;
}

#navcss {
    height: 300px;
    width: 450px;
    text-align: center;
    display: inline-block;
    font-size: 30px;
}

button {
    background-color:white;
    color:darkcyan;
    border: 3px solid darkcyan;
    border-radius: 40px;
    padding: 20px 30px;
    width: 200px;
    margin: 10px;
    font-size: 18px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2), 0px -2px 2px rgba(255, 255, 255, 0.5) inset, 0 2px 2px rgba(255, 255, 255, 0.8) inset;;
}

button:hover {
    background-color: darkcyan;
    color:white;
    text-shadow: 0 1px black;
    background: linear-gradient(rgb(164,219,219), rgb(0,139,139));
    transition:all .5s;

}

main {
    background: radial-gradient(circle,rgba(255,255,255,1) 0%, rgba(164,219,219,1) 100%);    text-align: center;
}

footer {
    background-color: darkcyan;
    height: 40px;
}

/*HTML-TABLES-----------------------------------------------------*/
#basictags table {
    border: 2px solid black;
    margin: 0 auto!important;
    font-family: monospace;
    font-size: large;
    margin-bottom: 100px;
    line-height: 1.5;
    width: 90%;
}

#lessbasictags table, #tables table{
    border: 2px solid black;
    margin: 0 auto!important;
    font-family: monospace;
    font-size: large;
    margin-bottom: 100px;
    line-height: 1.5;
    width: 60%;
}

/*CSS-TABLES-----------------------------------------------------*/

#position table {
    border: 2px solid black;
    margin: 0 auto!important;
    font-family: monospace;
    font-size: large;
    margin-bottom: 100px;
    line-height: 1.5;
    width: 90%;
}

#asdf table, #stbmb table{
    border: 2px solid black;
    margin: 0 auto!important;
    font-family: monospace;
    font-size: large;
    margin-bottom: 100px;
    line-height: 1.5;
    width: 60%;
}

/*GENERAL-TABLES-------------------------------------------------*/

table th {
    background-color: rgb(0, 139, 139);
}

table tbody {
    background-color: rgb(164,219,219);
}

th {
    font-size: 18px;
    font-weight: bolder;
}

td {
    padding: 15px 40px!important;
    font-size: 18px;
}

#tagcolor {
    color:blue
}

#attcolor {
    color:red;
}

#linkcolor {
    color:green;
}
